.navbar {
    background-color: #333;
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    margin: 0;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
  }
  
  .nav-link:hover {
    background-color: #555;
    border-radius: 5px;
  }

.links-container {
    display: flex;
    justify-content: space-between; /* Adjust this property based on your preference */
}

.link {
    text-decoration: none;
    color: #007bff; /* You can adjust the color as needed */
    margin-right: 10px; /* Adjust the spacing between links */
}
.centered-div {
  text-align: center;
  font-size: 24px; /* Change the font size to make it bigger */
}
  